#PDF {
  > * {
    width: 475px;
    padding: 25px;
    height: 692px;
    display: flex;
    flex-direction: column;

    .page-number {
      margin-top: auto;
      align-self: flex-end;
      font-size: 9px;
    }
  }

  .page {
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      img {
        height: 20px;
      }

      > div {
        margin-left: 8px;
        text-transform: uppercase;

        .title {
          word-break: break-word;
          font-size: 16px;
          color: #007e7a;
          margin: 0;
        }

        .subtitle {
          font-size: 10px;
          word-break: break-word;
          color: #747678;
          margin: 0;
        }
      }
    }

    .header-info {
      width: 100%;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: 16px;

      > section {
        display: grid;
        grid-template-columns: auto 1fr;

        > * {
          padding: 4px 2px;
          border: 1px solid #bfbfbf;
        }

        strong {
          background-color: #d8d8d8;
          font-size: 8px;
        }

        span {
          font-size: 8px;
        }
      }
    }

    .content {
      width: 100%;
      display: flex;

      > section {
        flex: 1;
      }

      .content__line {
        border: none;
        box-sizing: border-box;
        width: 1px;
        border-right: 1px dotted black;
        margin: 0 7.5px;
      }

      .title {
        font-size: 9px;
        font-size: 10px;
        margin: 0;
        padding: 4px 2px;
        background-color: #f2f2f2;

        &--text-center {
          text-align: center;
          text-transform: uppercase;
        }

        &--darker {
          background-color: #bfbfbf;
        }

        + p {
          margin-top: 0;
        }
      }

      .page-title {
        margin-bottom: 8px;
      }

      p {
        font-size: 8px;

        .strong--has-underline {
          text-decoration: underline;
        }
      }
    }

    .signature {
      margin-top: 250px;
      width: 100%;
      display: grid;
      grid-template: repeat(2, 50px) / repeat(2, minmax(0, 1fr));
      justify-items: center;
      gap: 16px;

      > span {
        padding-top: 8px;
        font-size: 9px;
        text-transform: uppercase;
        text-align: center;
        border-top: 1px solid black;
        width: 100%;
        line-height: 20px;
      }

      .signature__date {
        align-self: center;
        display: flex;
        text-transform: uppercase;
        font-size: 9px;

        > div {
          width: 30px;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
